__pycache__/
*.pyc
*.py[cod]
*.class
.DS_Store
.idea/
.log
.ipynb_checkpoints/
data/*
!data/sample/
!data/external/
config/local
!.gitkeep
# Explicitly list JSON export from Google BigQuery credentials and data snippets for grading
./config/local/bigquery_credentials.json
