# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-64

boto3
pip
wheel
pandas
pyarrow
google~=3.0.0
google-api-core
google-auth
google-cloud
google-cloud-bigquery
google-cloud-bigquery-storage
google-cloud-core
google-cloud-storage
google-crc32c
google-resumable-media
googleapis-common-protos
numpy
setuptools
sqlalchemy
pytest
pymysql
PyYAML
requests
cryptography
botocore