# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-64

boto3~=1.17.66
pip
wheel
pandas~=1.2.4
pyarrow
google~=3.0.0
google-api-core
google-auth
google-cloud
google-cloud-bigquery
google-cloud-bigquery-storage
google-cloud-core
google-cloud-storage
google-crc32c
google-resumable-media
googleapis-common-protos
numpy
setuptools
sqlalchemy~=1.4.13
pytest
pymysql~=1.0.2
PyYAML~=5.4.1
requests~=2.25.1
cryptography
botocore~=1.20.66