# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-64

pip~=21.1
wheel~=0.36.2
pandas~=1.1.5
boto3~=1.17.66
pyarrow~=4.0.0
google~=3.0.0
google-api-core~=1.26.3
google-auth~=1.30.0
google-cloud~=0.34.0
google-cloud-bigquery~=2.15.0
google-cloud-bigquery-storage~=2.4.0
google-cloud-core~=1.6.0
google-cloud-storage~=1.38.0
google-crc32c~=1.1.2
google-resumable-media~=1.2.0
googleapis-common-protos~=1.53.0
numpy~=1.19.5
setuptools~=56.1.0
sqlalchemy~=1.4.13
pytest~=6.2.4
pymysql~=1.0.2
PyYAML~=5.4.1
requests~=2.25.1
cryptography~=3.4.7
botocore~=1.20.66